# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

/.vs/
/x64/
/compiler/vc16win64/.vs/
/compiler/vc16win64/x64/GameDemo/debug
/compiler/vc16win64/x64/Utils/debug
/compiler/vc16win64/x64/Utils/release/Utils.obj
/assets/objects/cottage
/assets/objects/benz
/assets/objects/2.fbx
